.MuiTableRow-root 
  &:hover
    background: #aec5a9

.MuiTableCell-head 
  background: #a9e0d7 !important
  font-weight: 700 !important

.selected-row 
  color: red !important



.table-header-item
  color: green
  font-size: 1.2rem
  font-weight: 700  
  text-align: center